body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav a:hover,
nav .active{
    background-color: #39aae1;
    color: #fff;
    border-radius: 5px;;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 670px;
}

.column {
    flex-direction: column;
}

.banner-headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-headline h1,
.banner-headline h2 {
    color: #fff;
    font-size: 60px;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner-headline h2 {
    font-size: 20px;
    margin-top: 30px;
}

.banner-options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.banner1 {
    background-color: #39aae1;
}

.banner2 {
    background-color: #0079c7;
}

.banner3 {
    background-color: #2b4c99;
}

.banner-title {
    font-size: 20px;
}

.banner-description {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-options a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.banner-options a:hover {
    background-color: rgba(1, 1, 1, 0.2);
}

.banner3 .hour {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
}

.banner3 p {
    margin: 5px;
}

.banner3 hr {
    border: 1px solid #0079c7;
    border-top: none;
}

#general {
    display: flex;
    justify-content: center;
}

#general section {
    flex: 2
}

#general aside {
    flex: 1
}

.widget-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget-title-text {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
}

.widget-title-bar {
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget-box {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #39aae1;
    margin: 1px 10px 10px 10px;
}

.media-phone,
.media-email,
.media-contact {
    border-bottom: 1px solid #a7acb8;
    padding-bottom: 20px;
    margin-top: 20px;
    color: #888888;
}

.media a {
    text-decoration: none;
    color: #555;
}

.media b {
    color: #000;
}

.media i {
    margin-right: 5px;
}

article .news-data {
    display: flex;
}

article a {
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article .news-posted-at,
article .news-comments {
    background-color: #2b4c99;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    margin-right: 2px;
}

article .news-comments {
    background-color: #36a9e1;
}

article .news-thumbnail {
    margin-top: 30px;
}

article .news-thumbnail img {
    width: 100%;
    height: auto;
}

article .news-title {
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
}

article .news-text {
    color: #5c5c5c;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
}

footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    color: #fff;
}

.footer-menu {
    display: flex;
}

.footer-menu-1,
.footer-menu-2,
.footer-menu-3 {
    flex: 1;
    color: #fff;
    padding: 20px;
}

.footer-menu h1 {
    font-size: 25px;
}

.footer-menu h2 {
    font-size: 14px;
}

.footer-menu-1 {
    background-color: #39aae1;
}

.footer-menu-2 {
    background-color: #0079c7;
}

.footer-menu-3 {
    background-color: #2b4c99;
}

.footer-area {
    display: flex;
}

.footer-area-item {
    flex: 1;
    color: #fff;
}

.flex-column {
    flex-direction: column;
}

footer .widget-title-text {
    color: #fff;
}

.footer-copyright {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 14px;
    margin-top: 30px;
}

.footer-area-item p {
    color: #5c5c5c;
}
