body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover,
nav .active{
    background-color: #39aae1;
    color: #fff;
    border-radius: 5px;;
}